<div *ngIf="user; else no_loggedin">
  <md-list-item class="navigate-panel" (click)="navigate()">
    <img mdListAvatar [src]="user.photoUrl || '/img/poi.jpg'">
    <h4 mdLine>{{user.displayName || 'N/A'}}</h4>
    <i mdLine>check here to view your profile</i>
  </md-list-item>
</div>
<ng-template #no_loggedin>
  <md-list-item class="navigate-panel" (click)="navigate()">
    <md-icon md-list-icon>account_circle</md-icon>
    <h4 mdLine>No Logged</h4>
    <p mdLine>Click here to log in</p>
  </md-list-item>
</ng-template>
<div class="comment-editor">
  <md-form-field class="comment-textarea">
    <textarea mdInput #content placeholder="Join the discussion" maxlength="500" [disabled]="!user"></textarea>
    <md-hint align="end">{{content.value.length}} / 500</md-hint>
  </md-form-field>
  <div class="comment-buttons" align="end">
    <button md-button *ngIf="content.value" (click)="content.value=''">Clear</button>
    <button md-raised-button color="primary" [disabled]="!user" (click)="submit(content.value)">Submit</button>
  </div>
</div>
