<div class="content">
  <div class="container">
    <md-card [fxLayout]="'row'" [fxLayoutAlign]="'end end'">
      <md-input-container [style.width]="'100%'">
        <input #input mdInput (keyup.enter)="keywordChanged(input.value)">
      </md-input-container>
      <button md-icon-button (click)="keywordChanged(input.value)">
        <md-icon>search</md-icon>
      </button>
    </md-card>
    <solomon-search-result *ngIf="result" [result]="result" [intros]="intros"></solomon-search-result>
  </div>
</div>
