<div class="markdown-body" style="text-align:center">
  <img [src]="post?.intro.image">
</div>
<div class="post-area markdown-body">
  <h1 id="top">{{post?.intro.title}}</h1>
  <header [fxLayout]="'row'">
    <img class="category" [routerLink]="['/category', post?.intro.category.en]"
         [attr.src]="'/assets/img/category/'+ post?.intro.category.en+'.jpg'">
    <div [style.width]="'100%'" [fxLayout]="'column'">
      <strong>{{post?.intro.category.zh_CHS}}</strong>
      <span>{{post?.intro.date|date:"yyyy-MM-dd HH:mm:ss"}}</span>
    </div>
    <a md-icon-button [mdTooltip]="'View Source'" target="_blank"
       href="https://raw.githubusercontent.com/PoiScript/Solomon-Post/master/markdown/{{post?.intro.slug}}.md">
      <md-icon>open_in_new</md-icon>
    </a>
    <button md-icon-button [mdTooltip]="'Bookmark'" [mdMenuTriggerFor]="menu">
      <md-icon>bookmark_border</md-icon>
    </button>
    <md-menu #menu="mdMenu" x-position="before">
      <a md-menu-item *ngFor="let mark of post?.bookmark" (click)="goTop(mark)">{{mark}}</a>
      <a md-menu-item *ngIf="post?.bookmark.length == 0">No Bookmark</a>
    </md-menu>
  </header>
  <div [innerHTML]="post?.html"></div>
  <footer [fxLayout]="'row'" [fxLayout.xs]="'column'">
    <div [fxFlex]="50" [fxLayoutAlign]="'start'">
      <button md-icon-button [routerLink]="['/post', post?.previous_slug]" *ngIf="post?.previous_title">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
      <div [fxLayout]="'column'" *ngIf="post?.previous_title">
        <span>Previous</span>
        <strong>{{post?.previous_title}}</strong>
      </div>
    </div>
    <div [fxFlex]="50" [fxLayoutAlign]="'end'" *ngIf="post?.next_title">
      <div [fxLayout]="'column'" align="right">
        <span>Next</span>
        <strong>{{post?.next_title}}</strong>
      </div>
      <button md-icon-button [routerLink]="['/post', post?.next_slug]">
        <md-icon>keyboard_arrow_right</md-icon>
      </button>
    </div>
  </footer>
</div>
