@import '../../../theme';

$foreground: map-get($theme, foreground);

.post-item {
  margin: 0 0 12px;

  .title {
    text-decoration: none;
    color: mat-color($foreground, text);
    font-size: mat-font-size($typography-config, headline);
    font-weight: mat-font-weight($typography-config, headline);
    line-height: mat-line-height($typography-config, headline);
  }

  .subtitle {
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography-config, subheading-1);
    font-weight: mat-font-weight($typography-config, subheading-1);
    line-height: mat-line-height($typography-config, subheading-1);
  }
}
