<div class="comment-area">
  <div class="receptacle markdown-body">
    <header [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
      <h3>{{comments?.length}} comments</h3>
      <span class="spacer"></span>
      <button md-icon-button [mdTooltip]="'Sort'" [mdMenuTriggerFor]="menu">
        <md-icon>sort</md-icon>
      </button>
      <md-menu #menu="mdMenu" x-position="before">
        <button md-menu-item (click)="sortComment(0)">Newest First</button>
        <button md-menu-item (click)="sortComment(1)">Oldest First</button>
        <button md-menu-item (click)="sortComment(2)">Reaction</button>
      </md-menu>
    </header>
    <h4 *ngIf="comments?.length === 0" align="center">No comment now,<br/>be the first to comment!</h4>
    <div *ngFor="let comment of comments">
      <header [fxLayout]="'row'">
        <a [href]="comment.user.html_url" target="_blank">
          <img [src]="comment.user.avatar_url" class="avatar">
        </a>
        <div [fxLayout]="'column'">
          <strong>{{comment.user.login}}</strong>
          <span>{{comment.updated_at|date:"yyyy-MM-dd hh:mm:ss"}}</span>
        </div>
      </header>
      <div class="text" [innerHTML]="comment.body_html"></div>
      <div class="reaction">
        <button md-icon-button (click)="createReaction(comment.id, '+1')">
          <md-icon>thumb_up</md-icon>
        </button>
        {{comment.reactions['+1']}}
        <button md-icon-button (click)="createReaction(comment.id, '-1')">
          <md-icon>thumb_down</md-icon>
        </button>
        {{comment.reactions['-1']}}
      </div>
    </div>
    <h3>Add comment</h3>
    <header [fxLayout]="'row'" [ngSwitch]="isAuth">
      <img class="avatar" *ngSwitchCase="true" (click)="viewProfile()" [src]="user.auth.photoURL">
      <img class="avatar" *ngSwitchCase="false" (click)="viewProfile()" src="assets/img/chrome-crash-icon.png">
      <div [fxLayout]="'column'" *ngSwitchCase="true">
        <span>Logged in as</span>
        <strong>{{user?.auth.displayName}}</strong>
      </div>
      <div [fxLayout]="'column'" (click)="viewProfile()" *ngSwitchCase="false">
        <span>Not Logged In</span>
        <strong>Click here to Login</strong>
      </div>
    </header>
    <md-input-container [style.width]="'100%'">
      <textarea #comment_body [disabled]="!isAuth" mdInput></textarea>
    </md-input-container>
    <footer [fxLayout]="'row'">
      <button md-raised-button [color]="'primary'" (click)="postComment(comment_body.value)">SUBMIT
        <md-icon>send</md-icon>
      </button>
    </footer>
    <h5 class="comment-tips" align="center" i18n>
      Or you can left your comments in
      <a href="https://github.com/{{GITHUB_USERNAME}}/{{GITHUB_POST_REPO}}/issues/{{issue_number}}" target="_blank">
        this issue</a>.
      :)
    </h5>
  </div>
</div>
