<div class="comment-area">
  <div class="receptacle">
    <header [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
      <h3>{{comments?.length}} comments</h3>
      <span class="spacer"></span>
      <button md-icon-button mdTooltip="Sort" [mdMenuTriggerFor]="menu">
        <md-icon>sort</md-icon>
      </button>
      <md-menu #menu="mdMenu" x-position="before">
        <button md-menu-item>Oldest First</button>
        <button md-menu-item>Newest First</button>
      </md-menu>
    </header>
    <h4 *ngIf="comments?.length === 0" align="center">No comment now,<br/>be the first to comment!</h4>
    <div *ngFor="let comment of comments">
      <header [fxLayout]="'row'">
        <a [href]="comment.user.html_url" target="_blank">
          <img [src]="comment.user.avatar_url" class="avatar">
        </a>
        <div [fxLayout]="'column'">
          <strong>{{comment.user.login}}</strong>
          <span>{{comment.updated_at|date:"yyyy-MM-dd hh:mm:ss"}}</span>
        </div>
      </header>
      <div class="text">{{comment.body}}</div>
      <div class="reaction">
        <button md-icon-button (click)="createReaction(comment.id, '+1')">
          <md-icon>thumb_up</md-icon>
        </button>
        {{comment.reactions['+1']}}
        <button md-icon-button (click)="createReaction(comment.id, '-1')">
          <md-icon>thumb_down</md-icon>
        </button>
        {{comment.reactions['-1']}}
      </div>
    </div>
    <header [fxLayout]="'row'" [fxLayoutAlign]="'end end'" [ngSwitch]="isAuth">
      <button md-icon-button (click)="viewProfile()" *ngSwitchCase="false">
        <md-icon>account_circle</md-icon>
      </button>
      <img [src]="user.auth.photoURL" (click)="viewProfile()" class="avatar" *ngSwitchCase="true">
      <md-input-container [style.width]="'100%'">
        <input #comment_body mdInput placeholder="Left your comment"
               (keyup.enter)="postComment(comment_body.value)">
      </md-input-container>
      <button md-icon-button (click)="postComment(comment_body.value)">
        <md-icon>send</md-icon>
      </button>
    </header>
    <h5 align="center" i18n>Login to GitHub and left your comments in
      <a href="https://github.com/{{GITHUB_USERNAME}}/{{GITHUB_POST_REPO}}/issues/{{issue_number}}" target="_blank">
        this issue </a>
      , then your comment will show here. :)</h5>
  </div>
</div>
