.footer {
  background: whitesmoke;

  @media all and (max-width: 600px) {
    padding: 10px;

    .container {
      flex-direction: column;
    }

    .links {
      padding-bottom: 5px;
    }
  }

  .link {
    color: rgba(0, 0, 0, 0.6);
  }

  .license {
    color: rgba(0, 0, 0, 0.4);
  }

  .separator {
    color: rgba(0, 0, 0, 0.4);
  }
}
