.footer {
  background: whitesmoke;

  @media all and (max-width: 400px) {
    .head {
      display: none;
    }
  }

  .link {
    color: rgba(0, 0, 0, 0.6);
  }

  .license {
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
  }

  .separator {
    color: rgba(0, 0, 0, 0.4);
  }
}
