.solomon-footer {
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  height: 64px;
  padding: 0 16px;

  .container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1020px;
    margin: auto;
  }

  @media all and (max-width: 600px) {
    .container {
      flex-direction: column;
    }

    .links {
      padding-bottom: 10px;
    }
  }

  .links > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }

  .license {
    color: rgba(0, 0, 0, 0.4);
  }

  .separator {
    padding: 0 1em;
    color: rgba(0, 0, 0, 0.4);
    user-select: none;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
