<div class="container">
  <h1 class="primary-header">{{title}}</h1>
  <p>{{content}}</p>
  <form class="form-wrapper" *ngIf="showForm">
    <md-form-field class="form-full-width">
      <input mdInput type="password" #password placeholder="Password">
    </md-form-field>
    <md-form-field class="form-full-width">
      <input mdInput type="password" #password_ placeholder="Reenter Password">
      <md-hint *ngIf="password.value !== password_.value">
        Please make sure you have input the same password.
      </md-hint>
    </md-form-field>
    <div align="end">
      <button md-raised-button color="primary" (click)="submitNewPassword(password.value)"
              [disabled]="password.value.length < 6 || password.value !== password_.value">Sign Up
      </button>
    </div>
  </form>
</div>
