# dependencies
node_modules/

# IDE
/.idea

# compiled output
dist
assets/amp
assets/html
assets/atom.xml
assets/post.ts
assets/post.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
