# dependencies
/node_modules
/react/node_modules

# post files
/content

# IDE
/.idea

# compiled output
/dist
post.json
link.json
html/
/react/build
/react/**/*.css

# testing
/react/coverage

# assets
/react/public/favicon.ico
/react/public/icon.png

npm-debug.log*
yarn-debug.log*
yarn-error.log*
