{
  "title": "Lorem ipsum",
  "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
  "placeholder": [
    "links",
    "about",
    "poi"
  ],
  "posts": [
    "example1.md",
    "example2.md"
  ]
}