<solomon-header></solomon-header>
<md-toolbar [color]="'primary'">
  <md-toolbar-row></md-toolbar-row>
  <md-toolbar-row [fxLayoutAlign]="'center center'">
    <h1>Solomon</h1>
  </md-toolbar-row>
  <md-toolbar-row [fxLayoutAlign]="'center center'">
    <h4>PoiScript's Blog</h4>
  </md-toolbar-row>
  <md-toolbar-row></md-toolbar-row>
</md-toolbar>
<div class="container">
  <div fxLayout="row" [fxLayout.xs]="'column'" fxLayoutAlign="center" *ngIf="intros">
    <div [fxLayout]="'column'" fxFlex="50%">
      <solomon-post-preview [intro]="intros[0]"></solomon-post-preview>
      <solomon-post-preview [intro]="intros[1]"></solomon-post-preview>
    </div>
    <div [fxLayout]="'column'" fxFlex="50%">
      <solomon-post-preview [intro]="intros[2]"></solomon-post-preview>
      <solomon-post-preview [intro]="intros[3]"></solomon-post-preview>
    </div>
  </div>
  <button i18n class="read-more-button" [routerLink]="'archive'" md-raised-button [color]="'warn'">READ MORE</button>
</div>
