<div class="container">
  <h1 class="primary-header">Log In</h1>
  <form class="wrapper">
    <mat-form-field class="form-full-width">
      <input matInput type="email" email #log_in_email placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-full-width">
      <input matInput type="password" #log_in_password placeholder="Password">
    </mat-form-field>
    <div align="end">
      <button mat-raised-button color="primary" (click)="logIn(log_in_email.value, log_in_password.value)">
        Log In
      </button>
    </div>
  </form>
  <h1 class="primary-header">Sign Up</h1>
  <form class="wrapper">
    <mat-form-field class="form-full-width">
      <input matInput type="email" email #sign_up_email placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-full-width">
      <input matInput type="password" #sign_up_password placeholder="Password">
    </mat-form-field>
    <mat-form-field class="form-full-width">
      <input matInput type="password" #reenter_password placeholder="Reenter Password">
      <mat-hint i18n *ngIf="sign_up_password.value !== reenter_password.value">
        Please make sure you have input the same password.
      </mat-hint>
    </mat-form-field>
    <div align="end">
      <button mat-raised-button color="primary"
              (click)="signUp(sign_up_email.value, sign_up_password.value, reenter_password.value)">
        Sign Up
      </button>
    </div>
  </form>
</div>
