body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: -apple-system, Roboto, 'Noto Sans', 'Helvetica Neue', Helvetica,
    'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN',
    'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti',
    SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
  margin: 0;
  padding: 0;
}

.root {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
}

::-moz-selection {
  background-color: #ddd;
}

::selection {
  background-color: #ddd;
}

/* toolbar */
.toolbar {
  font-size: 13px;
  font-weight: 400;
}

.toolbar .link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  padding: 10px;
  margin: 10px;
}

.toolbar .container {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1020px;
  padding: 0;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toolbar .spacer {
  flex: 1 1 auto;
}

/* header */
.header {
  background-color: #673ab7;
  color: white;
}

.header .logo {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.header .link {
  color: white;
}

.header .separator {
  color: rgba(255, 255, 255, 0.8);
}

@media all and (max-width: 400px) {
  .header .tail {
    display: none;
  }
}

/* footer */
.footer {
  background: whitesmoke;
}

@media all and (max-width: 400px) {
  .footer .head {
    display: none;
  }
}

.footer .link {
  color: rgba(0, 0, 0, 0.6);
}

.footer .license {
  padding: 10px;
  color: rgba(0, 0, 0, 0.55);
}

.footer .separator {
  color: rgba(0, 0, 0, 0.4);
}

/* title */

.title-section {
  margin-bottom: 60px;
  text-align: center;
}

.title-section .title {
  margin: 0;
  font-size: 34px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

.title-section .subtitle {
  color: rgba(0, 0, 0, 0.55);
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
}

.title-section .tag {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  outline: 0;
}

/* article */

article p {
  margin: 0 0 12px;
}

article a {
  color: #673ab7;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

article b {
  font-weight: 500;
}

article li {
  margin-left: 2rem;
}

article ol {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 12px;
  padding: 0;
}

article code {
  font-size: 1em;
  font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, 'Andale Mono',
    monospace;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em;
  margin: 0;
}

article pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 16px;
  word-wrap: normal;
}

article pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
  position: relative;
}

article .line-number {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #bdbdbd;
}

article blockquote {
  margin: 0 0 16px;
  padding: 0 1em;
  border-left: 0.3em solid #e0e0e0;
}

article hr {
  border: 0;
  margin: 12px 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

article h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
}

article h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 16px;
}

article h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 16px;
}

article h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 16px;
}

article h5 {
  font-weight: 400;
  font-size: 12.45px;
  line-height: 24px;
  margin: 0 0 12px;
}

article h6 {
  font-weight: 400;
  font-size: 10.05px;
  line-height: 24px;
  margin: 0 0 12px;
}

article {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

article p {
  margin: 0 0 12px;
}

/* up-next */
.up-next {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

@media all and (max-width: 600px) {
  .up-next {
    flex-direction: column;
  }
}

.up-next .nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 10px;
}

.up-next .spacer {
  flex: 1 1 auto;
}

.up-next .next {
  align-self: flex-end;
}

.up-next .right {
  text-align: right;
}

.up-next .title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.up-next .label {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
}

.up-next .icon {
  padding-left: 10px;
}

.up-next .rotated {
  transform: rotateY(180deg);
}
