<md-card>
  <h3 i18n>Recent Animes</h3>
  <div [fxLayout]="'row'" [fxLayout.xs]="'column'" [fxLayout.sm]="'column'">
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let anime of animes| slice:0:3">
        <img md-list-avatar src={{anime.posterImage.tiny}} alt="Poster of {{anime.canonicalTitle}}">
        <a md-line href="https://kitsu.io/anime/{{anime.slug}}"> {{anime.canonicalTitle}} </a>
        <p md-line> {{anime.titles.ja_jp}} </p>
        <p md-line class="capitalize"> {{anime.status}} {{anime.progress}} / {{anime.episodeCount || "~"}}</p>
        <p md-line> {{anime.updatedAt | date:"yyyy-MM-dd HH:mm:ss"}} </p>
      </md-list-item>
    </md-nav-list>
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let anime of animes| slice:3:6">
        <img md-list-avatar src={{anime.posterImage.tiny}} alt="Poster of {{anime.canonicalTitle}}">
        <a md-line href="https://kitsu.io/anime/{{anime.slug}}"> {{anime.canonicalTitle}} </a>
        <p md-line> {{anime.titles.ja_jp}} </p>
        <p md-line class="capitalize"> {{anime.status}} {{anime.progress}}/{{anime.episodeCount || "~"}}</p>
        <p md-line> {{anime.updatedAt | date:"yyyy-MM-dd HH:mm:ss"}} </p>
      </md-list-item>
    </md-nav-list>
  </div>
</md-card>
