.year {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding-top: 14px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.post-item {
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.8);

  .title {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
  }
}
