$deepPurple500: #673ab7;
$blueGrey50: #eceff1;
$blueGrey300: #90a4ae;
$blueGrey800: #37474F;
$blueGrey900: #263238;

nav {
  box-sizing: border-box;
  background-color: $deepPurple500;
  height: 56px;
  padding: 0 12px;

  a {
    display: inline-block;
    font-family: Roboto, sans-serif;
    margin: 10px 0;
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    text-align: center;

    span {
      padding-left: 16px;
      padding-right: 16px;
      font-weight: 500;
      font-size: 14px;
      color: #eceff1;
    }
  }
}

main {
  max-width: 960px;
  margin: auto;
  padding: 16px;

  h3 {
    font-size: 30px;
    font-weight: 300;
    padding: 50px 0;
  }
}

footer {
  padding-top: 80px;

  .link {
    padding: 24px 0;
    text-align: center;
    background-color: $blueGrey800;

    a {
      margin: 10px;
      color: $blueGrey50;
      text-decoration: none;
    }
  }

  .license {
    font-size: 13px;
    padding: 48px 0;
    text-align: center;
    color: $blueGrey300;
    background-color: $blueGrey900;
  }
}
