<md-toolbar [color]="'primary'">
  <div fxHide="false" fxHide.gt-sm>
    <button md-icon-button i18n-mdTooltip mdTooltip="SOLOMON" [routerLink]="'/'">
      <md-icon svgIcon="solomon"></md-icon>
    </button>
    <button md-icon-button i18n-mdTooltip mdTooltip="ABOUT" [routerLink]="'/about'">
      <md-icon svgIcon="about"></md-icon>
    </button>
    <button md-icon-button i18n-mdTooltip mdTooltip="ARCHIVE" [routerLink]="'/archive'">
      <md-icon svgIcon="archive"></md-icon>
    </button>
    <button md-icon-button i18n-mdTooltip mdTooltip="LINK" [routerLink]="'/link'">
      <md-icon svgIcon="link"></md-icon>
    </button>
  </div>
  <div fxShow="false" fxShow.gt-sm>
    <button i18n md-button [routerLink]="'/'">SOLOMON</button>
    <button i18n md-button [routerLink]="'/about'">ABOUT</button>
    <button i18n md-button [routerLink]="'/archive'">ARCHIVE</button>
    <button i18n md-button [routerLink]="'/link'">LINK</button>
  </div>
  <!--<div fxFlex></div>-->
  <!--<button md-icon-button (click)="toggleSearchBar()">-->
    <!--<md-icon svgIcon="search"></md-icon>-->
  <!--</button>-->
  <!--<md-input-container [@searchBarState]="searchBarVisibility" [dividerColor]="'accent'">-->
    <!--<input #search_bar mdInput (keyup.enter)="searchFor(search_bar.value)">-->
  <!--</md-input-container>-->
</md-toolbar>
