.up-next {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  @media all and (max-width: 600px) {
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .next {
    align-self: flex-end;
  }

  .right {
    text-align: right;
  }

  .title {
    font-weight: 500;
  }

  .label {
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
  }

  .icon {
    padding-left: 10px;
  }

  .rotated {
    transform: rotateY(180deg);
  }
}
