<div class="comment-area">
  <div class="receptacle">
    <header>
      <h3>{{comments?.length}} comments</h3>
      <span class="spacer"></span>
      <button md-icon-button mdTooltip="Sort" [mdMenuTriggerFor]="menu">
        <md-icon>sort</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>Oldest First</button>
        <button md-menu-item>Newest First</button>
      </md-menu>
    </header>
    <div class="comment" *ngFor="let comment of comments">
      <header>
        <a [href]="comment.user.html_url" target="_blank">
          <img [src]="comment.user.avatar_url" class="avatar">
        </a>
        <div class="author">
          <strong>{{comment.user.login}}</strong>
          <span>{{comment.updated_at|date:"yyyy-MM-dd hh:mm:ss"}}</span>
        </div>
      </header>
      <div class="text">{{comment.body}}</div>
    </div>
  </div>
</div>