<div class="comment-area">
  <div class="receptacle">
    <h5 align="center" i18n>Login to GitHub and left your comments in
      <a href="https://github.com/{{GITHUB_USERNAME}}/{{GITHUB_POST_REPO}}/issues/{{issue_number}}" target="_blank"> this issue </a>
      , then your comment will show here. :)</h5>
    <header [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
      <h3>{{comments?.length}} comments</h3>
      <span class="spacer"></span>
      <button md-icon-button mdTooltip="Sort" [mdMenuTriggerFor]="menu">
        <md-icon>sort</md-icon>
      </button>
      <md-menu #menu="mdMenu" x-position="before">
        <button md-menu-item>Oldest First</button>
        <button md-menu-item>Newest First</button>
      </md-menu>
    </header>
    <div *ngFor="let comment of comments">
      <header [fxLayout]="'row'">
        <a [href]="comment.user.html_url" target="_blank">
          <img [src]="comment.user.avatar_url" class="avatar">
        </a>
        <div [fxLayout]="'column'">
          <strong>{{comment.user.login}}</strong>
          <span>{{comment.updated_at|date:"yyyy-MM-dd hh:mm:ss"}}</span>
        </div>
      </header>
      <div class="text">{{comment.body}}</div>
      <div class="reaction" [fxLayout]="center" *ngIf="comment.reactions.total_count">
        <md-icon *ngIf="comment.reactions['+1']">thumb_up</md-icon>
        <span>{{comment.reactions['+1']}}</span>
        <md-icon *ngIf="comment.reactions['-1']">thumb_down</md-icon>
        <span>{{comment.reactions['-1']}}</span>
      </div>
    </div>
  </div>
</div>
