.spacer {
    flex: 1 1 auto;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 16px;
}

header {
    margin-bottom: 16px;
}

a {
    font-weight: 700;
    text-decoration: none;
}

.text {
    line-height: 1.5em;
    margin-bottom: 16px;
}

.receptacle {
    max-width: 960px;
    margin: auto;
    padding: 16px;
}

.comment-area {
    background: #EEEEEE;
}