<div class="containerX">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="space-around center"
       fxFlex class="coloredContainerX box">
    <div fxFlex
         fxFlex.sm="1"
         fxFlex.xs="1">
      <md-card>
        <md-card-title>Angular</md-card-title>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus.
            Aenean eget erat pellentesque est dictum commodo nec et tortor.
            Nam aliquet ligula eros, eu placerat tellus commodo id.
            Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
          </p>
        </md-card-content>
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Angular</md-card-title>
          <md-card-subtitle>2017-1-1</md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
    <div fxFlex
         fxFlex.xs="1"
         fxFlex.sm="1">
      <md-card>
        <md-card-title>Angular</md-card-title>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus.
            Aenean eget erat pellentesque est dictum commodo nec et tortor.
            Nam aliquet ligula eros, eu placerat tellus commodo id.
            Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
          </p>
        </md-card-content>
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Angular</md-card-title>
          <md-card-subtitle>2017-1-1</md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
  </div>
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="space-around center"
       fxFlex class="coloredContainerX box">
    <div fxFlex
         fxFlex.xs="1"
         fxFlex.sm="1">
      <md-card>
        <md-card-title>Angular</md-card-title>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus.
            Aenean eget erat pellentesque est dictum commodo nec et tortor.
            Nam aliquet ligula eros, eu placerat tellus commodo id.
            Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
          </p>
        </md-card-content>
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Angular</md-card-title>
          <md-card-subtitle>2017-1-1</md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
    <div fxFlex
         fxFlex.xs="1"
         fxFlex.sm="1">
      <md-card>
        <md-card-title>Angular</md-card-title>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus.
            Aenean eget erat pellentesque est dictum commodo nec et tortor.
            Nam aliquet ligula eros, eu placerat tellus commodo id.
            Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
          </p>
        </md-card-content>
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Angular</md-card-title>
          <md-card-subtitle>2017-1-1</md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
  </div>
</div>
