<md-card>
  <md-card-title>Angular</md-card-title>
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus.
      Aenean eget erat pellentesque est dictum commodo nec et tortor.
      Nam aliquet ligula eros, eu placerat tellus commodo id.
      Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
    </p>
  </md-card-content>
  <div md-card-image style="height: 2px; color: #000;"></div>
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Angular</md-card-title>
    <md-card-subtitle>2017-1-1</md-card-subtitle>
  </md-card-header>
</md-card>