.up-next {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  @media all and (max-width: 600px) {
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .next {
    align-self: flex-end;
  }

  .right {
    text-align: right;
  }

  .title {
    font-weight: 500;
  }

  .label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }

  .icon {
    padding-left: 10px;
  }

  .rotated {
    transform: rotateY(180deg);
  }
}

.loading {
  width: 100%;
  text-align: center;
  margin: 100px 0;

  svg > g {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: dash 5s linear infinite;
  }

  @keyframes dash {
    0%,
    5% {
      stroke-dashoffset: 250;
    }
    20%,
    30% {
      stroke-dashoffset: 0;
    }
    45%,
    55% {
      stroke-dashoffset: -250;
    }
    70%,
    80% {
      stroke-dashoffset: 0;
    }
    95%,
    100% {
      stroke-dashoffset: 250;
    }
  }
}
