<div class="title-section" *ngIf="post$ | async as post">
  <h1 class="title">{{post.title}}</h1>
  <h2 class="subtitle">
    {{post.date | date:'mediumDate'}}
    <span class="tag" *ngFor="let tag of post.tags">
        <a [routerLink]="['/tag', tag]">#{{tag}}</a>
      </span>
  </h2>
</div>
<ng-container *ngIf="html$ | async as post">
  <article [innerHtml]="post.html | safeHtml"></article>
  <div *ngIf="post.prior" class="solomon-nav-row -prior">
    <a mat-icon-button [routerLink]="['/post', post.prior.slug]">
      <mat-icon svgIcon="arrow"></mat-icon>
    </a>
    <div class="text">
      <span>Prior</span>
      <strong>{{post.prior.title}}</strong>
    </div>
  </div>
  <div *ngIf="post.next" class="solomon-nav-row">
    <a mat-icon-button [routerLink]="['/post', post.next.slug]">
      <mat-icon svgIcon="arrow"></mat-icon>
    </a>
    <div class="text">
      <span>Next</span>
      <strong>{{post.next.title}}</strong>
    </div>
  </div>
</ng-container>
