.solomon-nav-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;

  // rotate icon for prior post navigation
  &.-prior mat-icon {
    transform: rotate(180deg);
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    strong {
      font-weight: 500;
    }
  }
}

.loading {
  width: 100%;
  text-align: center;
  margin: 100px 0;

  svg > g {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: dash 5s linear infinite;
  }

  @keyframes dash {
    0%,
    5% {
      stroke-dashoffset: 250;
    }
    20%,
    30% {
      stroke-dashoffset: 0;
    }
    45%,
    55% {
      stroke-dashoffset: -250;
    }
    70%,
    80% {
      stroke-dashoffset: 0;
    }
    95%,
    100% {
      stroke-dashoffset: 250;
    }
  }
}
