<md-card>
  <h3>Recent Projects</h3>
  <div [fxLayout]="'row'" [fxLayout.xs]="'column'" [fxLayout.sm]="'column'">
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let repo of repos| slice:0:3">
        <md-icon md-list-avatar>code</md-icon>
        <a md-line href={{repo?.html_url}}>{{repo?.name}}</a>
        <p md-line>{{repo?.language}} </p>
        <p md-line>{{repo?.description}} </p>
        <p md-line>{{repo?.pushed_at|date:"yyyy-MM-dd HH:mm:ss"}}</p>
      </md-list-item>
    </md-nav-list>
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let repo of repos| slice:3:6">
        <md-icon md-list-avatar>code</md-icon>
        <a md-line href={{repo?.html_url}}>{{repo?.name}}</a>
        <p md-line>{{repo?.language}} </p>
        <p md-line>{{repo?.description}} </p>
        <p md-line>{{repo?.pushed_at|date:"yyyy-MM-dd HH:mm:ss"}}</p>
      </md-list-item>
    </md-nav-list>
  </div>
</md-card>