@import '../../../theme';

.header {
  color: white;
  background-color: mat-color($primary);

  .link {
    color: white;
  }

  .homepage {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 24px;
    height: 24px;
    padding-right: 4px;
  }

  .separator {
    color: mat-color($mat-dark-theme-foreground, secondary-text);
  }
}
