@import '../../../theme';

.header {
  color: white;
  background-color: mat-color($primary);

  .link {
    color: white;
  }

  .homepage {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
  }

  .name {
    margin: 0 4px;
  }

  .tail {
    margin: 0 4px;

    @media all and (max-width: 400px) {
      display: none;
    }
  }

  .separator {
    color: rgba(255, 255, 255, 0.54);
  }
}
