extends layout

block content
  h1 Dashboard
  h3 All Posts
  for post in posts
    form(action="/dashboard/" + post.url method='post' enctype="multipart/form-data")
      input(type="text" name='title' value=post.title required)
      input(type="text" name='date' value=post.date required)
      input(type="text" name='tags' value=post.tags required)
      input(type="text" name='url' value=post.url required)
      input(type="submit" value="Submit")