extends layout

block content
  include includes/header
  #plax-container
    img#plax-1.plax-img(src='/img/1.png' width='697' height='648')
    img#plax-2.plax-img(src='/img/2.png' width='697' height='648')
    img#plax-3.plax-img(src='/img/3.png' width='697' height='648')

block css
  link(rel='stylesheet' href='/css/index.css')

block script
  script(src='/js/index.js')