doctype
html
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/css/materialize.min.css')
    link(rel='stylesheet' href='/css/style.css')
    block css
  body
    main
      block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/materialize.min.js')
    block script