extends layout

block content
  .parallax-container
    include includes/header
    .parallax
      img#parallax-img(src='/img/bg.jpg')
  .row.margin-top-container
    .col.s10.offset-s1.card.row
      h1 友情链接
      .col.s10
        ul.collapsible(data-collapsible="accordion")
          li
            .collapsible-header
              i.material-icons filter_drama
              | First
            .collapsible-body
              p Lorem ipsum dolor sit amet.
          li
            .collapsible-header
              i.material-icons place
              | Second
            .collapsible-body
              p Lorem ipsum dolor sit amet.
          li
            .collapsible-header
              i.material-icons whatshot
              | Third
            .collapsible-body
              p Lorem ipsum dolor sit amet.
      .col.s3
        .toc-wrapper
        | page.content
  include includes/footer

block css
  link(rel='stylesheet' href='/css/about.css')

block script
  script(src='/js/about.js')