<div>
  <md-list>
    <md-toolbar>Blog</md-toolbar>
    <md-list-item><a routerLink="" routerLinkActive="active">Home</a></md-list-item>
    <md-list-item><a routerLink="about" routerLinkActive="active">About</a></md-list-item>
    <md-list-item>Links</md-list-item>
    <md-list-item>Random</md-list-item>
    <md-divider></md-divider>
    <h4 md-subheader>Categories</h4>
    <md-list-item>
      <a routerLink="category/andriod" routerLinkActive="active">ANDRIOD</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="category/angular" routerLinkActive="active">ANGULAR</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="category/blog" routerLinkActive="active">BLOG</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="category/miscellaneous" routerLinkActive="active">MISCELLANEOUS</a>
    </md-list-item>
    <md-divider></md-divider>
    <h4 md-subheader>Archives</h4>
    <md-list-item>
      <a routerLink="2016/may" routerLinkActive="active">2016 May</a>
    </md-list-item>
  </md-list>
</div>