<md-toolbar color="primary">
  <h3>PoiScript's Blog</h3>
</md-toolbar>
<md-list>
  <md-nav-list>
    <md-list-item *ngFor="let meun of menu">
      <a md-line href={{meun.path}}> {{ meun.title }} </a>
    </md-list-item>
  </md-nav-list>
  <md-divider></md-divider>
  <h3 md-subheader>Categories</h3>
  <md-nav-list dense>
    <md-list-item *ngFor="let category of categories">
      <a md-line href="...">{{ category.title }}</a>
      <md-chip-list>
        <md-chip>{{category.count}}</md-chip>
      </md-chip-list>
    </md-list-item>
  </md-nav-list>
  <md-divider></md-divider>
  <h3 md-subheader>Archives</h3>
  <md-nav-list dense>
    <md-list-item *ngFor="let category of categories">
      <a md-line href="...">{{ category.title }}</a>
      <md-chip-list>
        <md-chip>{{category.count}}</md-chip>
      </md-chip-list>
    </md-list-item>
  </md-nav-list>
</md-list>