md-card {
    margin: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 16px;
}

header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.author {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.author > a {
    font-weight: 700;
    text-decoration: none;
}

.text {
    line-height: 1.5em;
    margin-bottom: 16px;
}