@import '../../../theme';

$foreground: map-get($theme, foreground);

.up-next {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  @media all and (max-width: 600px) {
    flex-direction: column;
  }

  .nav {
    flex: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    user-select: none;
    padding: 10px;
    text-decoration: none;
    color: mat-color($foreground, text);

    &.next {
      justify-content: flex-end;
      text-align: end;
    }
  }

  .title {
    font-weight: mat-font-weight($typography-config, body-2);
    font-size: mat-font-size($typography-config, subheading-2);
    line-height: mat-line-height($typography-config, subheading-2);
  }

  .label {
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography-config, caption);
    font-weight: mat-font-weight($typography-config, body-2);
    line-height: mat-line-height($typography-config, caption);
  }

  .icon {
    padding-left: 10px;
  }

  .rotated {
    transform: rotateY(180deg);
  }
}
