<div *ngIf="user; else no_loggedin">
  <mat-list-item class="navigate-panel" (click)="navigate()">
    <img matListAvatar [src]="user.photoUrl || '/img/poi.jpg'">
    <h4 matLine>{{user.displayName || 'N/A'}}</h4>
    <i matLine>check here to view your profile</i>
  </mat-list-item>
</div>
<ng-template #no_loggedin>
  <mat-list-item class="navigate-panel" (click)="navigate()">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 matLine>No Logged</h4>
    <p matLine>Click here to log in</p>
  </mat-list-item>
</ng-template>
<div class="comment-editor">
  <mat-form-field class="comment-textarea">
    <textarea matInput #content placeholder="Join the discussion" maxlength="500" [disabled]="!user"></textarea>
    <mat-hint align="end">{{content.value.length}} / 500</mat-hint>
  </mat-form-field>
  <div class="comment-buttons" align="end">
    <button mat-button *ngIf="content.value" (click)="content.value=''">Clear</button>
    <button mat-raised-button color="primary" [disabled]="!user" (click)="submit(content.value)">Submit</button>
  </div>
</div>
