/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

@mixin archive-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $pre-background-color: invert(mat-color($background, card, 0.05)) !default;
  $quote-color: invert(mat-color($background, card, 0.5)) !default;
  $text-color: invert(mat-color($background, card, 0.6)) !default;



}
