<md-card>
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column">
    <div fxFlex>
      <md-card-title> {{ title }}</md-card-title>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title> {{ category }}</md-card-title>
        <md-card-subtitle> {{ date }}</md-card-subtitle>
      </md-card-header>
      <md-card-title> {{ title }}</md-card-title>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title> {{ category }}</md-card-title>
        <md-card-subtitle> {{ date }}</md-card-subtitle>
      </md-card-header>
    </div>
    <div fxFlex>
      <md-card-title> {{ title }}</md-card-title>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title> {{ category }}</md-card-title>
        <md-card-subtitle> {{ date }}</md-card-subtitle>
      </md-card-header>
      <md-card-title> {{ title }}</md-card-title>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title> {{ category }}</md-card-title>
        <md-card-subtitle> {{ date }}</md-card-subtitle>
      </md-card-header>
    </div>
  </div>
</md-card>