:host {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 40px;
}
