<div class="post-container">
  <button id="back-fab" md-fab (click)="backClicked()" [color]="'primary'">
    <md-icon>keyboard_backspace</md-icon>
  </button>
  <button id="top-fab" md-fab (click)="toTopClicked()" [@toTopState]="toTopVisibility" [color]="'primary'">
    <md-icon>keyboard_arrow_up</md-icon>
  </button>
  <div class="markdown-body" style="text-align:center">
    <img [src]="post?.intro.image || ''">
  </div>
  <div class="post-area markdown-body">
    <h1 id="top">{{post?.intro.title}}</h1>
    <header [fxLayout]="'row'">
      <img class="category" [routerLink]="['/category', post?.intro.category.en]"
           [src]="post?.intro.category.en? '/assets/img/category/'+ post?.intro.category.en+'.jpg' : ''">
      <div [style.width]="'100%'" [fxLayout]="'column'">
        <strong>{{post?.intro.category.zh_CHS}}</strong>
        <span>{{post?.intro.date|date:"yyyy-MM-dd HH:mm:ss"}}</span>
      </div>
      <a md-icon-button [mdTooltip]="'View Source'" target="_blank"
         href="https://github.com/{{GITHUB_USERNAME}}/{{GITHUB_POST_REPO}}/blob/master/{{post?.intro.slug}}.md">
        <md-icon>open_in_new</md-icon>
      </a>
      <button md-icon-button [mdTooltip]="'Bookmark'" [mdMenuTriggerFor]="menu">
        <md-icon>bookmark_border</md-icon>
      </button>
      <md-menu #menu="mdMenu" x-position="before">
        <a md-menu-item *ngFor="let mark of post?.bookmark" (click)="jumpTo(mark)">{{mark}}</a>
        <a i18n md-menu-item *ngIf="post?.bookmark.length == 0">No Bookmark</a>
      </md-menu>
    </header>
    <div [innerHTML]="safeHtml"></div>
    <footer [fxLayout]="'row'" [fxLayout.xs]="'column'">
      <div [fxFlex]="50" [fxLayoutAlign]="'start'">
        <a md-icon-button [routerLink]="['/post', post?.previous_slug]" fragment="top" *ngIf="post?.previous_title">
          <md-icon>keyboard_arrow_left</md-icon>
        </a>
        <div [fxLayout]="'column'" *ngIf="post?.previous_title">
          <span>Previous</span>
          <strong>{{post?.previous_title}}</strong>
        </div>
      </div>
      <div [fxFlex]="50" [fxLayoutAlign]="'end'" *ngIf="post?.next_title">
        <div [fxLayout]="'column'" align="right">
          <span>Next</span>
          <strong>{{post?.next_title}}</strong>
        </div>
        <a md-icon-button [routerLink]="['/post', post?.next_slug]" fragment="top">
          <md-icon>keyboard_arrow_right</md-icon>
        </a>
      </div>
    </footer>
  </div>
  <comment [comments]="comments" [issue_number]="post?.intro.issue_number"></comment>
</div>
