<div class="container">
  <h1 class="primary-header">{{current?.title}}</h1>
  <article>
    <solomon-post-viewer [slug]=current?.slug></solomon-post-viewer>
  </article>

  <!--<div class="comment">-->
    <!--<div *ngFor="let comment of comments | async">-->
      <!--<header>-->
        <!--<img [src]="comment.avatar" class="avatar">-->
        <!--<div>-->
          <!--<strong>{{comment.name}}</strong>-->
          <!--<span>{{ comment.updated|date:'longDate'}}</span>-->
        <!--</div>-->
      <!--</header>-->
      <!--<div class="text markdown-body">{{comment.content}}</div>-->
    <!--</div>-->
  <!--</div>-->

  <footer class="post-footer">
    <div>
      <button md-icon-button [routerLink]="['/post', prior?.slug]">
        <!--<md-icon svgIcon="arrow_left"></md-icon>-->
      </button>
      <div *ngIf="prior">
        <span>Prior</span>
        <strong>{{prior?.title}}</strong>
      </div>
    </div>
    <div *ngIf="next">
      <div align="right">
        <span>Next</span>
        <strong>{{next?.title}}</strong>
      </div>
      <button md-icon-button [routerLink]="['/post', next?.slug]">
        <!--<md-icon svgIcon="arrow_right"></md-icon>-->
      </button>
    </div>
  </footer>
</div>
