<div class="container">
  <h1 i18n class="primary-header">About</h1>
  <article>
    <h2 id="about-me">我</h2>
    <p>林培奇 (Alex Lin), 17 岁 {{days}} 天 .</p>
    <p>PGP 指纹: <code>5512 A261 68C3 F1C0 2E72 8E6F 1751 38ED 8C51 AA0D</code>.</p>
    <p>从 Keybase 导入我的公钥:<code>gpg --fetch-keys https://keybase.io/PoiScript/key.asc</code></p>
    <p>其他信息可以查阅: <a href="https://poi.cat/zh-Hans">poi-cat</a>.</p>
    <h2 id="about-solomon">Solomon</h2>
    <p>Solomon 是我的博客的名字, 同时也是该博客框架的名字.</p>
    <p>博客的框架以 <a href="https://github.com/PoiScript/solomon/blob/master/LICENSE">MIT协议</a> 开源.</p>
    <p>文章在 <a href="https://github.com/PoiScript/solomon-post/blob/master/LICENSE">知识共享 署名-相同方式共享 4.0协议</a> 下提供.</p>
  </article>
</div>
