<md-card>
  <h3>{{title}}</h3>
  <div fxLayout="row" fxLayout.sm="column">
    <md-nav-list fxFlex>
      <md-list-item *ngFor="let category of categories|odd:false"
                    [routerLink]="['/category', category?.title]">
        <md-icon md-list-avatar>code</md-icon>
        <h3 md-line> {{category?.title}} </h3>
        <p md-line> {{category.count}} posts</p>
      </md-list-item>
    </md-nav-list>
    <md-nav-list fxFlex>
      <md-list-item *ngFor="let category of categories|odd:true"
                    [routerLink]="['/category', category?.title]">
        <md-icon md-list-avatar>code</md-icon>
        <h3 md-line> {{category?.title}} </h3>
        <p md-line> {{category.count}} posts</p>
      </md-list-item>
    </md-nav-list>
  </div>
</md-card>