.post-item {
  margin-bottom: 48px;

  .title {
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
  }

  .subtitle {
    display: block;
    padding: 0;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
  }

  .summary {
    line-height: 32px;
    font-size: 15px;
    cursor: pointer;
    padding-top: 8px;
    outline: none;
  }

  .tag {
    text-decoration: none;
    outline: none;
  }
}
