<div *ngIf="posts.length; then has_post else no_post"></div>

<ng-template #has_post>
  <div class="solomon-post-item" *ngFor="let post of posts">
    <a class="title" [routerLink]="['/post', post.slug]">
      {{post.title}}
    </a>
    <p class="subtitle">
      <span>{{post.date | date:'mediumDate'}}</span>
      <span class="tag" *ngFor="let tag of post.tags">
        <a [routerLink]="['/tag', tag]">#{{tag}}</a>
      </span>
    </p>
  </div>
</ng-template>

<ng-template #no_post>
  <i>No Posts :(</i>
</ng-template>
