<ng-container *ngIf="posts.length; else no_post">
  <div class="post-item" *ngFor="let post of posts">
    <a class="title" [routerLink]="['/post', post.slug]">
      {{post.title}}
    </a>
    <div class="summary" [routerLink]="['/post', post.slug]">{{post.summary}}...</div>
    <h2 class="subtitle">
      {{post.date | date:'mediumDate'}} ·
      <a class="tag" *ngFor="let tag of post.tags" [routerLink]="['/tag', tag]"> #{{tag}}</a>
    </h2>
  </div>
</ng-container>

<ng-template #no_post>
  <i>No Posts :(</i>
</ng-template>
