<md-toolbar class="solomon-home-header" [color]="'primary'">
  <md-toolbar-row></md-toolbar-row>
  <md-toolbar-row>
    <h1>Solomon</h1>
  </md-toolbar-row>
  <md-toolbar-row>
    <h4>PoiScript's Blog</h4>
  </md-toolbar-row>
  <md-toolbar-row></md-toolbar-row>
</md-toolbar>

<div>
  <div *ngFor="let post of posts">
    <a class="post-preview-link" [routerLink]="['/post', post?.slug]">{{post.title}}</a>
    <p>{{post.date|date:'longDate'}}
      <span class="hash-tag" *ngFor="let tag of post.tags" [routerLink]="['/tag', tag]">#{{tag}}</span>
    </p>
  </div>
</div>
