<md-card>
<md-tab-group>
  <md-tab label="About">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet neque mollis, dignissim magna eget, porta tellus. Aenean eget erat pellentesque est dictum commodo nec et tortor. Nam aliquet ligula eros, eu placerat tellus commodo id. Aenean massa arcu, sollicitudin et tortor vitae, commodo venenatis nulla. Praesent et mi.
    </p>
    <a md-button routerLink=".">Learn More</a>
  </md-tab>
  <md-tab label="Contact">
    <p>
      <a md-button routerLink=".">GitHub</a>
      <a md-button routerLink=".">Google+</a>
      <a md-button routerLink=".">Keybase</a>
    </p>
  </md-tab>
</md-tab-group>
</md-card>