<md-toolbar [color]="'primary'" [ngSwitch]="isSMLayout">
  <ng-container *ngSwitchCase="true">
    <button md-button [mdMenuTriggerFor]="menu">{{headline}}
      <md-icon>arrow_drop_down</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button i18n md-menu-item [routerLink]="'/'">SOLOMON</button>
      <button i18n md-menu-item [routerLink]="'/about'">ABOUT</button>
      <button i18n md-menu-item [routerLink]="'/archive'">ARCHIVE</button>
      <button i18n md-menu-item [routerLink]="'/link'">LINK</button>
    </md-menu>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <button i18n md-button [routerLink]="'/'">SOLOMON</button>
    <button i18n md-button [routerLink]="'/about'">ABOUT</button>
    <button i18n md-button [routerLink]="'/archive'">ARCHIVE</button>
    <button i18n md-button [routerLink]="'/link'">LINK</button>
  </ng-container>
  <div class="spacer"></div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button i18n md-menu-item (click)="toggleTheme()">Toggle Theme</button>
  </md-menu>
</md-toolbar>
