.solomon-footer {
  margin-top: 80px;

  md-toolbar-row > a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding-right: 10px;
  }

  md-toolbar-row > b {
    font-size: 1.5em;
    font-weight: 500;
  }

  .license {
    font-size: 0.7em;
  }
}
