md-sidenav {
    width: 250px;
}

md-sidenav-container.dark {
    background: #212121;
}

.dark .md-sidenav-backdrop .md-sidenav-shown {
    background-color: rgba(0, 0, 0, 0.6);
}

md-sidenav-container {
    background: rgba(255, 255, 255, 0.87);
}