<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    		<md-card-title>Shiba Inu</md-card-title>
    		<md-card-subtitle>Dog Breed</md-card-subtitle>
				<md-chip-list>
		  		<md-chip color="primary">Lorem</md-chip>
		  		<md-chip color="accent">ipsum</md-chip>
				</md-chip-list>
  </md-card-header>
  <md-card-content>
    <p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Phasellus non erat mollis, consequat lectus a, varius urna. 
			Ut ac arcu consectetur, efficitur elit sed, mollis orci. 
			Cras tincidunt erat at metus maximus tempor. Vestibulum nunc ipsum, 
			placerat sed cursus in, scelerisque nec tortor. Nullam sed neque venenatis lorem vulputate imperdiet.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>READ MORE</button>
  </md-card-actions>
</md-card>