<div class="post-theme">
  <solomon-header></solomon-header>
  <div class="container">
    <h1 class="primary-header">{{resolve.current.title}}</h1>
    <p class="primary-subheader">
      <span>{{resolve.current.date | date:'mediumDate'}}</span>
      <a *ngFor="let tag of resolve.current.tags" [routerLink]="['/tag', tag]"> · #{{tag}}</a>
    </p>
    <article [innerHtml]="resolve.html"></article>
    <solomon-up-next [prior]="resolve.prior" [next]="resolve.next"></solomon-up-next>
  </div>
</div>
