<md-card>
  <md-card-header>
    <md-card-title>{{intro.title}}</md-card-title>
    <md-card-subtitle i18n>{{intro.date|date:"yyyy-MM-dd hh:mm:ss"}} | {{commentCount}} comments</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="intro.image">
  <md-card-actions>
    <a i18n md-button [routerLink]="['/post', intro.slug]">Read More</a>
    <a i18n md-button target="_blank"
       href='https://github.com/{{GITHUB_USERNAME}}/{{GITHUB_POST_REPO}}/blob/master/markdown/{{intro.slug}}.md'>View
      Source</a>
  </md-card-actions>
</md-card>
