@import '~@angular/material/theming';
@import "styles";

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-grey, 900);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include global-theme($theme);
.dark {
  $dark-primary: mat-palette($mat-deep-purple);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include global-theme($dark-theme);
}
