<div class="container">
  <div>
    <span fxFlex></span>
    <button mat-icon-button (click)="openDialog()" matTooltip="Edit User Profile">
      <mat-icon aria-label="Edit current user profile">edit</mat-icon>
    </button>
  </div>
  <img class="avatar" [src]="user.photoUrl || '/img/poi.jpg'">
  <div fxLayout="row" fxLayout.xs="column">
    <mat-list fxFlex>
      <h3 mat-subheader>Info</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <h1 mat-line>{{user.email}}</h1>
        <p mat-line>email</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>check_box</mat-icon>
        <h4 mat-line>{{user.emailVerified}}</h4>
        <p mat-line>email verified</p>
        <button *ngIf="!user.emailVerified" mat-icon-button (click)="sendVerificationEmail()"
                matTooltip="Send Verification Email">
          <mat-icon>report_problem</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>account_box</mat-icon>
        <h4 mat-line>{{user.displayName || 'N/A'}}</h4>
        <p mat-line>display name</p>
        <button *ngIf="!user.displayName" mat-icon-button (click)="openDialog()" matTooltip="Edit User Profile">
          <mat-icon>report_problem</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list fxFlex>
      <h3 mat-subheader>Meta</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <h4 matLine>{{user.lastLoginAt | date:'medium'}}</h4>
        <p mat-line>last logged</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>lock</mat-icon>
        <h4 matLine>{{user.passwordUpdatedAt | date:'medium'}}</h4>
        <p mat-line>last password updated</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person_add</mat-icon>
        <h4 matLine>{{user.createdAt | date:'medium'}}</h4>
        <p mat-line>created</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <mat-nav-list fxFlex>
      <h3 mat-subheader>Action</h3>
      <mat-list-item (click)="signOut()">
        <mat-icon mat-list-icon>keyboard_tab</mat-icon>
        <h4 matLine>Sign Out Current User</h4>
      </mat-list-item>
      <mat-list-item (click)="sendPasswordResetEmail()">
        <mat-icon mat-list-icon>replay</mat-icon>
        <h4 matLine>Send Reset Password Email</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>not_interested</mat-icon>
        <h4 matLine>Delete Current User</h4>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
