.title {
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  //color: deepPurple[500]
}

.content {
  color: rgba(0, 0, 0, .6);
  display: block;
}

.hash-tag {
  //color: blue[500],
  text-decoration: none;
}
