@import 'angular/theme.scss';

.post-list {
  .title {
    color: mat-color($primary);
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
  }

  .subtitle {
    color: rgba(0, 0, 0, .6);
    display: block;
  }

  .tag {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
  }
}
