<section>
  <div *ngIf="prior" id="nav-prior" class="nav-row">
    <a mat-icon-button [routerLink]="['/post', prior.slug]">
      <mat-icon aria-label="prior post">keyboard_arrow_left</mat-icon>
    </a>
    <div class="nav-text">
      <span i18n>Prior</span>
      <strong>{{prior.title}}</strong>
    </div>
  </div>
  <div *ngIf="next" id="nav-next" class="nav-row">
    <a mat-icon-button [routerLink]="['/post', next.slug]">
      <mat-icon aria-label="next post">keyboard_arrow_right</mat-icon>
    </a>
    <div class="nav-text">
      <span i18n>Next</span>
      <strong>{{next.title}}</strong>
    </div>
  </div>
</section>
