@import '../../../theme';

$foreground: map-get($theme, foreground);

.footer {
  background: whitesmoke;

  .link {
    color: mat-color($foreground, text);
  }

  .license {
    margin: 12px;
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography-config, caption);
    line-height: mat-line-height($typography-config, caption);
  }

  .separator {
    color: mat-color($foreground, secondary-text);
  }
}
