<md-card>
  <div  fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column">
    <div fxFlex>
      <md-list>
        <md-list-item *ngFor="let i of [0]">
          <md-icon md-list-avatar>tv</md-icon>
          <h3 md-line> {{entries}} </h3>
        </md-list-item>
      </md-list>
    </div>
    <div fxFlex>
      <md-list>
      </md-list>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex><p class="fade">Updated At: {{updatedAt}}</p></div>
    <div fxFlex><a class="fade" href="https://github.com/{{username}}">@{{username}} on Kitsu</a></div>
  </div>
</md-card>