.post-list-item {
  padding-bottom: 20px;

  .title {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
  }

  .subtitle {
    display: block;
    margin: 0;
    padding: 0;
  }

  .tag {
    a {
      text-decoration: none;
    }

    &:before {
      content: ' · ';
    }
  }
}
