.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.main {
  box-sizing: border-box;
  flex: 1;
  margin: 80px auto;
  max-width: 800px;
  padding: 0 20px;
  width: 100%;
}
