/* You can add global styles to this file, and also import other style files */

body {
  color: #454138;
  background: #d1cdb7 fixed;
}

body {
  margin: 0;
  height: 100%;
  background-size: 5px 5px;
  background-image: linear-gradient(to right, #ccc8b1 3px, transparent 3px),
    linear-gradient(to bottom, #ccc8b1 3px, transparent 3px);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
  }
}

$carve-middle: 282.8px;

.carve {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: -1;
  background: radial-gradient(
      at top left,
      transparent 345px,
      #b4af9b 346px,
      #b4af9b 349px,
      transparent 350px,
      transparent 360px,
      #b4af9b 361px,
      #b4af9b 364px,
      transparent 365px
    ),
    linear-gradient(
      45deg,
      transparent $carve-middle - 37.5px,
      #b4af9b $carve-middle - 36.5px,
      #b4af9b $carve-middle - 33.5px,
      transparent $carve-middle - 32.5px,
      transparent $carve-middle - 2.5px,
      #b4af9b $carve-middle - 1.5px,
      #b4af9b $carve-middle + 1.5px,
      transparent $carve-middle + 2.5px,
      transparent $carve-middle + 32.5px,
      #b4af9b $carve-middle + 33.5px,
      #b4af9b $carve-middle + 36.5px,
      transparent $carve-middle + 37.5px
    );

  &.-upper-left {
    top: 0;
    left: 0;
  }

  &.-lower-right {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.content {
  min-height: calc(100vh - 90px);
  z-index: 99;
  margin: 15px 0;
  padding: 15px 0;
  border: 15px solid transparent;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQUAAAB4CAMAAADMgxcIAAAAP1BMVEVHcExGRDhGRDhGRDhGRDhGRDhFQzdGRDhGRDhGRDhGRDhFQzdGRDhGRDhGRDhGRDhGRDhGRDhGRDhHRTlKSDt/esbgAAAAEnRSTlMAuKn43ebG1ISUoRVlfEbwJQa5sYKGAAACGElEQVR42u2d3XKDIBBG1ygiav4k7/+svdBpsaDGthkb9pzbnYnwDWzgExcZYBgECVABFUIV/B6WfsUfyR80SuwerunnXe2RLDTK7PgJ2YVLCu9bOZIi2ajH+WUPXFDhhAqogAqooFuF9pGkOFSFOt2o5mUPvDQpzv2hKvTJRjUXAYB3oXdt27rLD8N50DnjvfdD5e7JcHsdw809ZxGKYfx398Mp0c+unjbKvnQZy3AKVjgusQAKlj1Nvjkh9AJMNPn7MliQVtnmhmK2yI0GQ70ezoV5N6OFd/WPdicvxIYbH19HKszCRbZjYY8KJx0zIuqm1ZEXmjJ0rqOtqAvDphcNgyEx76u1kZIPt69+2i4RNp/hust4CX2z46gv0728VavhfHDWGGOb9fBZAAAAAABYLGreOKyKoGQTuY4SQ2EjJygxl9ZRYjRuTQgdpvMuFQqtKgyMBTUvJjdQ8pJ6Cx0HFrZQcnhlUwYVB5meyA0aDrUBAAAA/BqceJz4UQSceMGJH3MCTrzgxE8TAidecOLj5IgTP6qAE48TjxOPEy+CE/+ZG3DiAQAAAGABvirlC+Opl3xtTuUBEaEKRTwU9FYkoTqNCJWKUjNCa9WqPRXM8n09QTU7EZlVNvRqKxtS5XLqJxVPx8lP9VuArKBavgg3J0wGALdooAIqoAIqPK/C+9/Axm181lpuZvTee27p5K5SVECF73wAnXFAgafKLWoAAAAASUVORK5CYII=)
    60 round;
}
