.home-column-heading,
.home-column-dates,
.home-column-tags {
  margin-top: 0;
  color: black;
}

.home-column-tags > span {
  margin-right: 4px;
  cursor: pointer;
}

.home-column-heading,
.home-column-sub-heading {
  margin-bottom: 8px;
}

.home-column-dates,
.home-column-tags {
  margin-bottom: 16px;
}

.home-column {
  height: auto;
  padding: 32px 40px;
  background-color: rgb(236, 239, 241);
}
