@import '~@angular/material/theming';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.title-section {
  margin: 24px 0;

  .title {
    margin: 0;
    font-size: 34px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.84);
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
  }

  .tag a {
    color: mat-color($mat-deep-purple, 500);
    text-decoration: none;
  }

  .tag::before {
    content: ' · ';
  }
}
