@import '~@angular/material/theming';
@import 'app/shared/post-list/post-list-theme';

@include mat-ripple();
@include cdk-a11y();
@include cdk-overlay();

$text-color: invert(mat-color($mat-light-theme-background, card, 0.6)) !default;
$typography-config: mat-typography-config();

body {
  color: $text-color;
}

.primary-subheader a {
  color: $text-color;
}

@mixin markdown-theme($theme) {
  $primary: map-get($theme, primary);

  .container a {
    color: mat-color($primary);
  }
}

@include mat-button-typography($typography-config);
@include mat-toolbar-typography($typography-config);
@include mat-list-typography($typography-config);

// default theme
$default-primary: mat-palette($mat-deep-purple);
$default-accent: mat-palette($mat-amber, A200, A100, A400);
$default-theme: mat-light-theme($default-primary, $default-accent);

@include markdown-theme($default-theme);
@include mat-button-theme($default-theme);
@include mat-core-theme($default-theme);
@include mat-list-theme($default-theme);
@include mat-toolbar-theme($default-theme);
@include post-list-theme($default-theme);
