<div fxLayout="column" fxLayoutAlign="space-around">
  <h3>Recent Posts</h3>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
    <div fxFlex>
      <posts></posts>
    </div>
    <div fxFlex>
      <posts></posts>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
    <div fxFlex>
      <posts></posts>
    </div>
    <div fxFlex>
      <posts></posts>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
    <div fxFlex>
      <github></github>
    </div>
    <div fxFlex>
      <kitsu></kitsu>
    </div>
  </div>
</div>
