<div class="container">
  <article>
  <pre>
    <code>
      <p>HTTP/2 <b>404 Not Found</b></p>
      <p>Access-Control-Max-Age: 17</p>
      <p>Accept-Ranges: bytes</p>
      <p>Age: 17</p>
      <p>Cache-Control: max-age=17</p>
      <p>Connection: Closed</p>
      <p>Content-Encoding: gzip</p>
      <p>Content-Language: zh-Hans</p>
      <p>Content-Length: 161509</p>
      <p>Content-Type: text/html; charset=utf-8</p>
      <p>Date: Tue, Oct 22 1996 16:15:09 GMT</p>
      <p>Set-Cookie: UserID=poi; Max-Age=17</p>
      <p>Server: PoiScript/7.6.4 (Unix)</p>
      <p>Strict-Transport-Security: max-age=17</p>
      <p>Vary: Accept-Encoding</p>
    </code>
  </pre>
  </article>
</div>
