<div class="container">
  <div>
    <span fxFlex></span>
    <button md-icon-button (click)="openDialog()" mdTooltip="Edit User Profile">
      <md-icon aria-label="Edit current user profile">edit</md-icon>
    </button>
  </div>
  <img class="avatar" [src]="user.photoUrl || '/img/poi.jpg'">
  <div fxLayout="row" fxLayout.xs="column">
    <md-list fxFlex>
      <h3 md-subheader>Info</h3>
      <md-list-item>
        <md-icon md-list-icon>email</md-icon>
        <h1 md-line>{{user.email}}</h1>
        <p md-line>email</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>check_box</md-icon>
        <h4 md-line>{{user.emailVerified}}</h4>
        <p md-line>email verified</p>
        <button *ngIf="!user.emailVerified" md-icon-button (click)="sendVerificationEmail()"
                mdTooltip="Send Verification Email">
          <md-icon>report_problem</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>account_box</md-icon>
        <h4 md-line>{{user.displayName || 'N/A'}}</h4>
        <p md-line>display name</p>
        <button *ngIf="!user.displayName" md-icon-button (click)="openDialog()" mdTooltip="Edit User Profile">
          <md-icon>report_problem</md-icon>
        </button>
      </md-list-item>
    </md-list>
    <md-list fxFlex>
      <h3 md-subheader>Meta</h3>
      <md-list-item>
        <md-icon md-list-icon>exit_to_app</md-icon>
        <h4 mdLine>{{user.lastLoginAt | date:'medium'}}</h4>
        <p md-line>last logged</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>lock</md-icon>
        <h4 mdLine>{{user.passwordUpdatedAt | date:'medium'}}</h4>
        <p md-line>last password updated</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>person_add</md-icon>
        <h4 mdLine>{{user.createdAt | date:'medium'}}</h4>
        <p md-line>created</p>
      </md-list-item>
    </md-list>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <md-nav-list fxFlex>
      <h3 md-subheader>Action</h3>
      <md-list-item (click)="signOut()">
        <md-icon md-list-icon>keyboard_tab</md-icon>
        <h4 mdLine>Sign Out Current User</h4>
      </md-list-item>
      <md-list-item (click)="sendPasswordResetEmail()">
        <md-icon md-list-icon>replay</md-icon>
        <h4 mdLine>Send Reset Password Email</h4>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>not_interested</md-icon>
        <h4 mdLine>Delete Current User</h4>
      </md-list-item>
    </md-nav-list>
  </div>
</div>
