extends ../layout

block content
  .parallax-container
    include ../includes/header
    .parallax
      img#parallax-img(src='/img/bg.jpg')
  .row.margin-top-container
    .col.s10.offset-s1.card.row
      h1 page.title
      .col.s10
        -posts.sort('url')
        for post in posts
          p= post.title
      .col.s3
        .toc-wrapper
        | page.content
  include ../includes/footer
