@import '~@angular/material/theming';

$typography-config: mat-typography-config(
  $font-family:
    "-apple-system, Roboto, 'Noto Sans', 'Helvetica Neue', Helvetica," +
    "'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB'," +
    "'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN'," +
    "'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti'," +
    "SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif",
  $body-1: mat-typography-level(15px, 24px, 400),
);

$primary: mat-palette($mat-deep-purple);
$theme: mat-light-theme($primary, $primary);
