@import '~@angular/material/theming';
@import 'theme.scss';

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: mat-color($background, card);
  margin: 0;
  padding: 0;
  font-family: mat-font-family($typography-config);
  color: mat-color($foreground, text);
}

.title-section {
  margin-bottom: 48px;
  text-align: center;

  .title {
    margin: 0;
    font-size: mat-font-size($typography-config, display-1);
    font-weight: mat-font-weight($typography-config, display-1);
    line-height: mat-line-height($typography-config, display-1);
    color: mat-color($foreground, text);
  }

  .subtitle {
    color: mat-color($foreground, secondary-text);
    margin: 0;
    padding: 8px;
    font-size: mat-font-size($typography-config, subheading-1);
    font-weight: mat-font-weight($typography-config, subheading-1);
    line-height: mat-line-height($typography-config, subheading-1);
  }
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

.toolbar {
  .link {
    text-decoration: none;
    outline: none;
    padding: 12px;

    font-size: mat-font-size($typography-config, button);
    font-weight: mat-font-weight($typography-config, button);
    line-height: mat-line-height($typography-config, button);
  }

  .container {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1020px;
    margin: auto;
    user-select: none;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

article {
  h1 {
    font-size: mat-font-size($typography-config, headline);
    font-weight: mat-font-weight($typography-config, headline);
    line-height: mat-line-height($typography-config, headline);
    margin: 0 0 16px;
  }

  h2 {
    font-size: mat-font-size($typography-config, title);
    font-weight: mat-font-weight($typography-config, title);
    line-height: mat-line-height($typography-config, title);
    margin: 0 0 16px;
  }

  h3 {
    font-size: mat-font-size($typography-config, subheading-2);
    font-weight: mat-font-weight($typography-config, subheading-2);
    line-height: mat-line-height($typography-config, subheading-2);
    margin: 0 0 16px;
  }

  h4 {
    font-size: mat-font-size($typography-config, subheading-1);
    font-weight: mat-font-weight($typography-config, subheading-1);
    line-height: mat-line-height($typography-config, subheading-1);
    margin: 0 0 16px;
  }

  p {
    font-size: mat-font-size($typography-config, body-1);
    font-weight: mat-font-weight($typography-config, body-1);
    line-height: mat-line-height($typography-config, body-1);
    padding: 0;
    margin: 0 0 12px;
  }

  a {
    color: mat-color($primary);
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  b {
    font-size: mat-font-size($typography-config, body-2);
    font-weight: mat-font-weight($typography-config, body-2);
    line-height: mat-line-height($typography-config, body-2);
  }

  li {
    margin-left: 2rem;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  code {
    font-family: 'Fira Code', 'Source Code Pro', 'Consolas', 'Monaco',
      'Andale Mono', 'monospace';
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.2em;
    margin: 0;
  }

  pre {
    padding: 16px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;

    > code {
      font-size: mat-font-size($typography-config, body-1);
      font-weight: mat-font-weight($typography-config, body-1);
      line-height: mat-line-height($typography-config, body-1);
      padding: 0;
      margin: 0;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .line-number {
    user-select: none;
    color: mat-color($foreground, secondary-text);
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 0.3em solid rgba(0, 0, 0, 0.1);
  }

  .image-wrapper {
    height: 0;
    position: relative;

    > img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .image-container {
    margin: 0 auto;
  }

  hr {
    margin: 32px 0;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }
}
