@import '~@angular/material/theming';
@import 'app/component/post-list/post-list-theme';

@include mat-ripple();
@include cdk-a11y();
@include cdk-overlay();

$text-color: invert(mat-color($mat-light-theme-background, card, 0.6)) !default;
$typography-config: mat-typography-config(
  $font-family:
    '-apple-system, Roboto, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L",
  Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC",
  "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei",
  "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif',
  $body-1: mat-typography-level(15px, 24px, 400)
);

body {
  color: $text-color;
}

.primary-subheader a {
  color: $text-color;
}

@include mat-base-typography($typography-config, 'article');
@include mat-button-typography($typography-config);
@include mat-list-typography($typography-config);

// default theme
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include mat-button-theme($theme);
@include mat-core-theme($theme);
@include mat-list-theme($theme);
@include mat-toolbar-theme($theme);
@include post-list-theme($theme);
