@import '~@angular/material/theming';

@include mat-ripple();

$text-color: rgba(0, 0, 0, 0.6);
$font-family: "-apple-system, Roboto, 'Noto Sans', 'Helvetica Neue', Helvetica," +
  "'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB'," +
  "'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN'," +
  "'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti'," +
  "SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif";

$typography-config: mat-typography-config(
  $font-family: $font-family,
  $body-1: mat-typography-level(15px, 24px, 400),
);

@include mat-base-typography($typography-config, 'article');
@include mat-list-typography($typography-config);

// default theme
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include mat-core-theme($theme);
@include mat-list-theme($theme);
