@import '~@angular/material/theming';

@import 'app/shared/post-list/post-list-theme';

@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $text-color: invert(mat-color($background, card, 0.6)) !default;

  body {
    color: $text-color;
  }

  .container {
    a {
      color: mat-color($primary);
    }
  }

  .primary-subheader {
    a {
      color: $text-color;
    }
  }

  @include mat-button-theme($theme);
  @include mat-core-theme($theme);
  @include mat-icon-theme($theme);
  @include mat-list-theme($theme);
  @include mat-progress-bar-theme($theme);
  @include mat-toolbar-theme($theme);
  @include mat-tooltip-theme($theme);
  @include post-list-theme($theme);
}
