/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $text-color: invert(mat-color($background, card, 0.6)) !default;
  $background-color: invert(mat-color($foreground, text, 0.8)) !default;

  body {
    color: $text-color;
    margin: 0;
    padding: 0;
  }

  .primary-header {
    color: $text-color;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px 0;
  }

  .post-preview-link {
    color: mat-color($primary);
  }

  .content {
    background: $background-color;
    color: $text-color;
  }

}

.hash-tag {
  cursor: pointer;
  color: #039be5;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 16px;
}
