/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.container {
  max-width: 960px;
  margin: auto;
  padding: 16px;
}

body {
  margin: 0;
  padding: 0;
}
