@import '~@angular/material/core/theming/all-theme';
@import "github-markdown";
@import "app/home/home.component";
@import "app/post/component/comment/comment.component";

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include side-nav-theme($theme);
@include markdown-theme($theme);
@include comment-theme($theme);

.dark {
  $dark-primary: mat-palette($mat-blue, 800, 600, 900);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include side-nav-theme($dark-theme);
  @include markdown-theme($dark-theme);
  @include comment-theme($dark-theme);
}

