@import '~@angular/material/core/theming/all-theme';
@import "github-markdown";
@import "styles";
@import "app/module/post/component/post-footer/post-footer.component";
@import "app/module/post/component/comment/comment.component";
@import "app/component/user-profile/user-profile.component";

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include markdown-theme($theme);
@include comment-theme($theme);
@include user-profile-theme($theme);
@include post-footer-theme($theme);
@include global-theme($theme);

.dark {
  $dark-primary: mat-palette($mat-blue, 800, 600, 900);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include markdown-theme($dark-theme);
  @include comment-theme($dark-theme);
  @include post-footer-theme($dark-theme);
  @include user-profile-theme($dark-theme);
  @include global-theme($dark-theme);
}
