@import '~@angular/material/theming';

@import 'global-theme';

@include mat-core();

// default theme
$default-primary: mat-palette($mat-deep-purple);
$default-accent: mat-palette($mat-amber, A200, A100, A400);
$default-theme: mat-light-theme($default-primary, $default-accent);

@include global-theme($default-theme);

// about theme
$about-primary: mat-palette($mat-indigo);
$about-theme: mat-light-theme($about-primary, $default-accent);

.about-theme {
  @include global-theme($about-theme);
}

// link theme
$link-primary: mat-palette($mat-pink);
$link-theme: mat-light-theme($link-primary, $default-accent);

.link-theme {
  @include global-theme($link-theme);
}

// not-found theme
$not-found-primary: mat-palette($mat-brown);
$not-found-theme: mat-light-theme($not-found-primary, $default-accent);

.not-found-theme {
  @include global-theme($not-found-theme);
}

// post theme
$post-primary: mat-palette($mat-teal);
$post-theme: mat-light-theme($post-primary, $default-accent);

.post-theme {
  @include global-theme($post-theme);
}

// tag theme
$tag-primary: mat-palette($mat-red);
$tag-theme: mat-light-theme($tag-primary, $default-accent);

.tag-theme {
  @include global-theme($tag-theme);
}
