<md-card>
  <span>Search</span>
  <md-input-container>
    <input md-input [(ngModel)]="keyword">
  </md-input-container>
  <span>Include:</span>
  <br>
  <md-checkbox [checked]="includeCategory" (change)="includeCategory = !includeCategory">Category</md-checkbox>
  <md-checkbox [checked]="includePostTitle" (change)="includePostTitle = !includePostTitle">Post Title</md-checkbox>
</md-card>
<category-list *ngIf="includeCategory"
               [categories]="categories|keyword:keyword"
               [title]="'Category includes ' + keyword"></category-list>
<post-list *ngIf="includePostTitle"
           [posts]="posts|keyword:keyword"
           [title]="'Title includes ' + keyword"></post-list>