<md-card [routerLink]="['/post', intro.slug]">
  <img *ngIf="intro.image" md-card-image [src]="intro.image">
  <header [fxLayout]="'row'" fxLayoutAlign="space-between center">
    <md-chip-list class="mat-chip-list-stacked">
      <md-chip *ngFor="let tag of intro.tags">
        {{tag}}
      </md-chip>
    </md-chip-list>
    <span i18n>{{intro.date|date:"yyyy-MM-dd"}}</span>
  </header>
  <md-card-content>
    <h2 class="card-post-title">{{intro.title}}</h2>
    <i>No Preview</i>
  </md-card-content>
</md-card>
