<footer [fxLayout]="'row'" [fxLayout.xs]="'column'">
  <div [fxFlex]="50" [fxLayoutAlign]="'start'">
    <button md-icon-button [routerLink]="['/post', previousPostSlug]" fragment="top" *ngIf="previousPostTitle">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <div [fxLayout]="'column'" *ngIf="previousPostTitle">
      <span>Previous</span>
      <strong>{{previousPostTitle}}</strong>
    </div>
  </div>
  <div [fxFlex]="50" [fxLayoutAlign]="'end'" *ngIf="nextPostTitle">
    <div [fxLayout]="'column'" align="right">
      <span>Next</span>
      <strong>{{nextPostTitle}}</strong>
    </div>
    <button md-icon-button [routerLink]="['/post', nextPostSlug]" fragment="top">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
  </div>
</footer>
