md-sidenav-container.dark {
  background: #212121;
}

md-sidenav-container {
  background: rgba(255, 255, 255, 0.87);
}

.nav-avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

@import '~@angular/material/core/theming/all-theme';

@mixin side-nav-theme($theme) {
  $primary: map-get($theme, primary);

  .active {
    color: md-color($primary);
  }
}
