<md-sidenav-container fullscreen [class.dark]="isDark">
  <md-sidenav
    #sidenav
    [style.width]="isSMLayout?'280px':'320px'"
    [opened]="!isSMLayout"
    [mode]="isSMLayout?'over':'side'">
    <md-toolbar [color]="'primary'">
      <h4 [style.width]="'100%'" (click)="titleClick()">{{BLOG_NAME}}</h4>
      <!--<button md-icon-button (click)="toggleTheme()">-->
        <!--<md-icon>settings</md-icon>-->
      <!--</button>-->
    </md-toolbar>
    <md-nav-list>
      <md-list-item i18n routerLinkActive="active" [routerLink]="'/recent'">Recent</md-list-item>
      <md-list-item i18n routerLinkActive="active" [routerLink]="'/search'">Search</md-list-item>
      <md-list-item i18n routerLinkActive="active" [routerLink]="'/about'">About</md-list-item>
      <md-list-item i18n routerLinkActive="active" [routerLink]="'/link'">Link</md-list-item>
      <md-list-item i18n routerLinkActive="active" [routerLink]="'/archive'">Archive</md-list-item>
      <md-divider></md-divider>
      <h3 i18n md-subheader>Categories</h3>
      <md-list-item
        *ngFor="let category of categories"
        routerLinkActive="active"
        [routerLink]="['/category', category.title.en]">
        <p md-line> {{ category.title.en }} </p> {{category.count}}
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
