@import '~@angular/material/core/theming/all-theme';

@mixin side-nav-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  .active {
    color: mat-color($primary);
  }
  md-sidenav-container.dark {
    background: invert(mat-color($background, card, 0.8));
  }
}

.nav-avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
