nav.semi-transparent
	.container.white-text
		a.brand-logo(href='/') Solomon
		a.button-collapse(href='#', data-activates='mobile-nav')
			i.material-icons menu
		ul.right.hide-on-med-and-down
			li
				a.tooltipped(data-position='bottom' data-delay='50' data-tooltip='关于' href='/about')
					i.material-icons info
			li
				a.tooltipped(data-position='bottom' data-delay='50' data-tooltip='博客' href='/blog')
					i.material-icons inbox
			li
				a.tooltipped(data-position='bottom' data-delay='50' data-tooltip='友链')
					i.material-icons favorite_border
		ul#mobile-nav.side-nav
			li
				a.waves-effect.waves-light.btn-flat(href='/about')
					i.material-icons info
					|About
			li
				a.waves-effect.waves-light.btn-flat(href='/blog')
					i.material-icons inbox
					|Blog
			li
				a.waves-effect.waves-light.btn-flat
					i.material-icons favorite_border
					|Links