<md-card>
  <div [fxLayout]="'row'" [fxLayout.xs]="'column'" [fxLayout.sm]="'column'">
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let link of links|odd:false" (click)="lickClicked(link.link_address)">
        <img md-list-avatar [src]="'https://github.com/' + link.github_username + '.png'">
        <h3 md-line> {{link.link_text}} </h3>
        <p md-line> {{link.display_name}} </p>
        <p md-line> {{link.bio}} </p>
      </md-list-item>
    </md-nav-list>
    <md-nav-list [fxFlex]="50">
      <md-list-item *ngFor="let link of links|odd:true" (click)="lickClicked(link.link_address)">
        <img md-list-avatar [src]="'https://github.com/' + link.github_username + '.png'">
        <h3 md-line> {{link.link_text}} </h3>
        <p md-line> {{link.display_name}} </p>
        <p md-line> {{link.bio}} </p>
      </md-list-item>
    </md-nav-list>
  </div>
</md-card>
