<md-card>
  <div [fxLayout]="'row'" [fxLayout.xs]="'column'" [fxLayout.sm]="'column'">
    <md-nav-list [fxFlex]="50">
      <a *ngFor="let link of links|odd:false" [href]="link?.link_address" target="_blank">
        <md-list-item>
          <img md-list-avatar [src]="'https://github.com/' + link.github_username + '.png'">
          <h3 md-line> {{link.link_text}} </h3>
          <p md-line> {{link.display_name}} </p>
          <p md-line> {{link.bio}} </p>
        </md-list-item>
      </a>
    </md-nav-list>
    <md-nav-list [fxFlex]="50">
      <a *ngFor="let link of links|odd:true" [href]="link?.link_address" target="_blank">
        <md-list-item>
          <img md-list-avatar [src]="'https://github.com/' + link.github_username + '.png'">
          <h3 md-line> {{link.link_text}} </h3>
          <p md-line> {{link.display_name}} </p>
          <p md-line> {{link.bio}} </p>
        </md-list-item>
      </a>
    </md-nav-list>
  </div>
</md-card>
