<h2 i18n md-dialog-title>{{ user ? 'User Profile' : 'Sign In' }}</h2>
<md-dialog-content>
  <div *ngIf="user; else no_user">
    <p>You had signed in as {{user.displayName}}.</p>
    <h4>Update your profile</h4>
    <md-form-field class="full-width">
      <input mdInput #displayName placeholder="Display Name" value={{user.displayName}}>
    </md-form-field>
    <md-form-field class="full-width">
      <input mdInput #photoURL placeholder="Photo URL" value={{user.photoURL}}>
    </md-form-field>
    <button md-raised-button (click)="signOut()">Sign Out</button>
    <button md-raised-button (click)="updateProfile(displayName.value, photoURL.value)" color="primary">Update</button>
  </div>
  <ng-template #no_user>
    <h4>Sign in to solomon to join the discussion.</h4>
    <button class="full-width" md-raised-button color="warn" (click)="googleSignIn()">Continue with Google</button>
    <button class="full-width" md-raised-button color="accent" (click)="githubSignIn()">Continue with GitHub
    </button>
  </ng-template>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-button md-dialog-close>Close</button>
</md-dialog-actions>
