<md-card>
  <h3>{{title}}</h3>
  <div fxLayout="row" fxLayout.sm="column" [hidden]="!posts">
    <md-nav-list fxFlex>
      <md-list-item *ngFor="let post of posts|slice:0:limit|odd:false"
                    [routerLink]="['/post', post?.slug]">
        <md-icon md-list-avatar>code</md-icon>
        <h3 md-line> {{post?.title}} </h3>
        <p md-line> {{post?.category}} </p>
        <p md-line> {{post?.date | date:"yyyy-MM-dd HH:mm:ss"}} </p>
      </md-list-item>
    </md-nav-list>
    <md-nav-list fxFlex>
      <md-list-item *ngFor="let post of posts|slice:0:limit|odd:true"
                    [routerLink]="['/post', post?.slug]">
        <md-icon md-list-avatar>code</md-icon>
        <h3 md-line> {{post?.title}} </h3>
        <p md-line> {{post?.category}} </p>
        <p md-line> {{post?.date | date:"yyyy-MM-dd HH:mm:ss"}} </p>
      </md-list-item>
    </md-nav-list>
  </div>
</md-card>